<<<<<<< HEAD
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(19, 18, 18);
  color: rgb(255, 255, 255);
}

.part {
  width: 30%;
  margin: 20px 20px;
}

p {
  font-weight: 1.2rem;
  color: rgb(255, 249, 249);
}

i {
  font-size: 2rem;
  margin: 20px 0px;
}

.social-media {
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: white;
}
a :hover {
  text-decoration: none;
  color: rgb(43, 40, 40);
}
=======
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(19, 18, 18);
  color: rgb(255, 255, 255);
}

.part {
  width: 30%;
  margin: 20px 20px;
}

p {
  font-weight: 1.2rem;
  color: rgb(255, 249, 249);
}

i {
  font-size: 2rem;
  margin: 20px 0px;
}

.social-media {
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: white;
}
a :hover {
  text-decoration: none;
  color: rgb(43, 40, 40);
}
>>>>>>> ee56e13143c03270ea1b249340d4ee36222102db
