.text-heading {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black; */
  color: white;
  font-size: 1.5rem;
}
